@import "reset.css";
@font-face {
    font-family: "sans";
    src:url(../fonts/IRANSansLight.eot) ,
    url(../fonts/IRANSansLight.eot?#iefix) format("embedded-opentype"),
    url(../fonts/IRANSansLight.woff) format("woff"),
    url(../fonts/IRANSansLight.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan/3.woff') format('woff2'),
    url('../fonts/BYekan/1.eot') format('eot');
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 922px) {
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

body{
    direction: rtl;
    font-family: BYekan;
    /*font-family: sans, Tahoma;*/
    

}

/**************************************************Header**************************************************/
header ul{

}
header ul li{
display: inline;
}
header  img{
    float: right;
    margin-top: -13px;
}
 header  ul li h4 {
     float: right;
     color: orangered;
     font-family: sans,IRANSansLight;
     font-weight: 300;
     line-height: 20px;
     font-size: 1.2em;
     margin-top: -3px;
     margin-right: 9px;

 }
  .i01{
     position: absolute;
     color: white;
     font-size:12px;
     top: 25px;
     left: 77px;


 }
  .i02{
     float: left;
     margin-left: 14px;
     font-size:12px;
     margin-top:-1px;
     color: black;
 }
 .box00{
     background-color: white;
     padding:25px;
 }
.box01{
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(233,74,53,0.8);
    float: left;
    color: white;
    margin-top: -13px;
    padding-top: 7px;
    font-family: sans;
    text-align: center;
    font-size: 15px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);

}
.box02{
    font-family: sans;
    float: left;
    margin-left: 25px;
    font-size: 14px;
    margin-top: -1px;
    color: black;

}
.box03{
    background-color: rgba(233,74,53,0.8);
    width: 100%;
    padding-top:7px;
    padding-bottom: 1px;
    font-family: sans;
    color: white;
    font-size: 1em;
    font-kerning: auto;
    -webkit-box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);
}

.box04{
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left:7px;
    padding-right:7px ;
    position: absolute ;
    background-color:rgba(0,198,80,0.7) ;
    top:60px;
    left:20px;
}
.box03 li{
    margin-left: 12px;
    margin-right:9px ;
}
.box03 li span{
    margin-left: 5px;
    font-size: 20px;
}

.li01{
    float: left;
}
.li02:hover{
    background-color: rgba(255,255,255,0.2);
    padding-top: 14px;
    padding-bottom: 12px;
    color: white;
}
.li01:hover{
    background-color:rgba(0,198,80,1) ;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 7px;
    padding-right:7px ;
}
header .box03 a{
    color: white;
    text-decoration: none;
}

/**************************************************\Header**************************************************/



/**************************************************Nav**************************************************/
nav img{
    width: 100%;
    border-bottom:solid white 1px ;
    -webkit-box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);


}

.nav00 {
    position: absolute;
    top:106px;
    right: 225px;
    width: 460px;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    padding-right: 80px;
    font-family: sans;
}
.nav02 {
    position: absolute;
    top:106px;
    right: 684px;
    width: 460px;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    padding-right: 80px;
    padding-left: 50px;
    font-family: sans;
}
.nav01{
    position: absolute;
    top:121px;
    right: 245px;
    color: orangered;
    font-family: sans;
}
.nav03{
    position: absolute;
    top:121px;
    right: 700px;
    color: orangered;

    font-family: sans;
}
.nav04{
    position: absolute;
    top:124px;
    right: 1112px;
    color: black;
    font-size: 20px;
}
.nav05{
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    padding-top: 70px;
}

.nav06{
    width: 150px;

    padding-bottom: 40px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: -10px;
    color: orangered;
    font-size: 20px;
    font-family: sans;

}
/**************************************************\Nav**************************************************/



/**************************************************article**************************************************/
.toorbox{
    margin-right:39px;

}

.downbox{
    position: absolute;
    top:170px;
    font-family: sans;
    font-size: 13px;
    background: rgba(233,74,53,0.8);
    padding-bottom: 30px;
    width: 100%;

}
.downbox01{
    position: relative;
    top: 5px;
    right: 10px;
    font-family: sans;
    color: white;
    font-size: 10px;
    margin-left: 7px;
}
.downbox02{
    position: absolute;
    top:202px;
    font-family: sans;
    font-size: 13px;
    background: white;
    padding-bottom: 1px;
    width: 100%;
    text-align: center;
    line-height: 70px;
    -webkit-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
}



article .downbox01 .tooltip {
    position: absolute;
    display: inline-block;
    font-family: sans;
    opacity: 1;
    font-size: 14px;
    right: -7px;


}

 .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity:0;
    transition: opacity 0.3s;
     font-family: sans;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}






article .downbox01 .tooltip01 {
    position: absolute;
    display: inline-block;
    font-family: sans;
    opacity: 1;
    left:-20px;
    font-size: 14px;
    z-index: 2;


}

.tooltip01 .tooltiptext01 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity:0;
    transition: opacity 0.3s;
    font-family: sans;

}

.tooltip01 .tooltiptext01::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;

}

.tooltip01:hover .tooltiptext01 {
    visibility: visible;
    opacity: 1;
}
article .circle{
    border:solid 1px black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: white;
    color:black ;
    position: absolute;
    left: 52px;
    top:-8px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-color: transparent;
    font-size: 14px;
    line-height: 12px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    z-index: 2;

}
.downbox02{
    position: absolute;
    top:202px;
    font-family: sans;
    font-size: 13px;
    background: white;
    padding-bottom: 1px;
    width: 100%;

    text-align: center;
    line-height: 70px;
    -webkit-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
}
.border01{
    border-bottom: 1px solid black;

}
article .gheimat{
    font-weight: bold;
    color: limegreen;
    margin-left: 5px;
}
article .line02{
    position: absolute;
    display: block;
    width:155px;
    height: 1px;
    background: black;
    top:65px;
  left:20px;

}
article .downbox02 a{
    color: black;
    text-decoration: none;
}



/**************************************************\article**************************************************/



/**************************************************section2**************************************************/
.shahr01{
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    padding-top: 270px;
}

.shahr02{
    width: 150px;
    padding-top:20px ;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: -30px;
    color: orangered;
    font-size: 20px;
    font-family: sans;

}

.shahr03{
    float: right;
}



.row {
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    /*flex: 25%;*/
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
.album01{
    width: 132px;
    height: 130px;

}
.album02{
    width: 270px;
    height:270px;
}
.album03{
    width: 400px;
    height:410px;
    -webkit-filter: brightness(50%);
}
section .album01:hover {

-webkit-filter: brightness(50%);
}



section .searchbox{
    position: absolute;
    width: 300px;
    height: 130px;
    background-color: white;
    top:1100px;
    right:610px;
    font-family: sans;
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 14px;

}

section form{
    position: absolute;
    top:1180px;
    right: 625px;
}
section form input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid grey 1px;
    font-family: sans;
    }
section form input:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid orangered 1px;
}


/**************************************************\section2**************************************************/
/**************************************************section3**************************************************/
 .naghd00{
    background:#f0f0f0;
    padding-bottom: 50px;
     margin-top: 50px;
     padding-top: 50px;
}
.naghd01{
    width: 100%;
    height: 0.5px;
    background-color: black;

}

.naghd02{
    width: 200px;
    padding-top:20px ;
    padding-bottom: 20px;
    background-color: #f0f0f0;
    text-align: center;
    margin: auto;
    margin-top:-30px;
    color: orangered;
    font-size: 20px;
    font-family: sans;

}

.naghd03{

    /*border:solid 1px black;*/
    /*border-left: none;*/
    background: white;


}

.naghd04{
    padding-top:7px;
    padding-bottom: 7px;
    font-family: sans;
        color: black;
}

.naghd05{
    border-bottom: solid 1px grey;
}
.naghd06{

    height: 100%;
    background-size: cover;
    background-position: center;
    border: 1px solid grey;
    margin-right: -16px;
    border: none;


}
section li .naghd03 img{
    /*-webkit-filter: brightness(70%);*/
}
.mr-2{
    margin-right: 10px;
    margin-left: 20px;
}

.naghd07{
    border:solid 1px black;
    border: none;
    background-color: white;
    -webkit-box-shadow: -26px 0px 109px -33px rgba(0,0,0,0.75);
    -moz-box-shadow: -26px 0px 109px -33px rgba(0,0,0,0.75);
    box-shadow: -26px 0px 109px -33px rgba(0,0,0,0.75);

}
section .naghd04 a{

    color: black;
    
}
section .naghd04 a:hover{
    text-decoration: none;
    color: rgb(233,74,53);
    cursor: pointer;
}
section a.naghd08 p{
    color: darkgray;
    font-size: 12px;
    line-height: 30px;
}
section .naghd04 a:hover{

}

section .naghd04 p img{

  width: 30px;
  height: 30px;
    border-radius: 50%;


}
section li  p {
   font-size: 10px;
}
section li .hotelscore00{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color:transparent ;
    float: left;
    border:2px solid rgba(233,74,53,0.8);
    top: 50px;
    position: relative;

}
section li .hotelscore01{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 2px;
    top: 2px;
    border: none;


}
section li .score{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 43px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
       font-size: 14px;

}
section li .score02{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 158px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section li .score03{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 273px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section li .score04{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 43px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section li .score05{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 159px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section li .score06{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 273px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section .moshahede{
     width: 100px;
     height: 30px;
     background-color:#2991cc ;
     position: absolute;
     top:195px;
     left: 75px;
     font-family: sans;
     text-align: center;
     padding-top: 5px;
     color: white;
 }

section .moshahede02{
    width: 120px;
    height: 30px;
    background-color:transparent ;
    position: absolute;
    top:147px;
    left: 64px;
    font-family: sans;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

/****************************************************************************************************/





.naghd-00{
    background:#f0f0f0;
    padding-bottom: 100px;
    margin-top: 50px;
    padding-top:0px;
}
.naghd-01{
    width: 100%;
    height: 0.5px;
    background-color: black;

}

.naghd-02{
    width: 200px;
    padding-top:20px ;
    padding-bottom: 20px;
    background-color: #f0f0f0;
    text-align: center;
    margin: auto;
    margin-top:-30px;
    color: orangered;
    font-size: 20px;
    font-family: sans;

}

.naghd-03{

    /*border:solid 1px black;*/
    /*border-left: none;*/
    background: white;


}

.naghd-04{
    padding-top:7px;
    padding-bottom: 7px;
    font-family: sans;
    color: black;
}

.naghd-05{
    border-bottom: solid 1px grey;
}
.naghd-06{

    height: 100%;
    background-size: cover;
    background-position: center;
    border: 1px solid grey;
    margin-right: -16px;
    border: none;


}
section li .naghd-03 img{
    /*-webkit-filter: brightness(70%);*/
}
.mr-2{
    margin-right: 10px;
    margin-left: 20px;
}

.naghd-07{
    border:solid 1px black;
    border: none;
    background-color: white;
    -webkit-box-shadow: -26px 0px 109px -33px rgba(0,0,0,0.75);
    -moz-box-shadow: -26px 0px 109px -33px rgba(0,0,0,0.75);
    box-shadow: -26px 0px 109px -33px rgba(0,0,0,0.75);

}
section .naghd-04 a{

    color: black;

}
section .naghd-04 a:hover{
    text-decoration: none;
    color: rgb(233,74,53);
    cursor: pointer;
}
section a.naghd-08 p{
    color: darkgray;
    font-size: 12px;
    line-height: 30px;
}
section .naghd-04 a:hover{

}

section .naghd-04 p img{

    width: 30px;
    height: 30px;
    border-radius: 50%;


}
section li  p {
    font-size: 10px;
}
section li .hotelscore-00{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color:transparent ;
    float: left;
    border:2px solid rgba(233,74,53,0.8);
    top: 50px;
    position: relative;

}
section li .hotelscore-01{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 2px;
    top: 2px;
    border: none;


}
section li .score{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 43px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section li .score-02{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 158px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section li .score-03{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 273px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section li .score-04{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 43px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section li .score-05{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 159px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section li .score-06{
    width: 37px;
    height: 27px;
    background-color:rgba(233,74,53,0.8) ;
    position: absolute;
    left: 33px;
    top: 273px;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    border: 0px solid #000000;
    font-family: BYekan;
    text-align: center;
    color: white;
    font-size: 14px;

}
section .moshahede-{
    width: 100px;
    height: 30px;
    background-color:#2991cc ;
    position: absolute;
    top:195px;
    left: 75px;
    font-family: sans;
    text-align: center;
    padding-top: 5px;
    color: white;
}

section .moshahede-02{
    width: 120px;
    height: 30px;
    background-color:transparent ;
    position: absolute;
    top:147px;
    left: 64px;
    font-family: sans;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}


section .naghd02 a{
    color: rgba(233,74,53,0.8);
    text-decoration: none;
}

.arrowdown{
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top:280px;
    left:550px;

}

.arrowdown i{

    position: absolute;
    top:5px;
    left:7px;
    color: rgba(233,74,53,0.8);

}
.arrowdown i:hover{
    color: rgb(233,74,53) ;
}

.arrowdown02{
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top:280px;
    left:600px;

}


.arrowdown02 i{

    position: absolute;
    top:3px;
    left:7px;
    color: rgba(233,74,53,0.8);

}
.arrowdown02 i:hover{
    color: rgb(233,74,53) ;
}
/**************************************************\section3**************************************************/
/**************************************************section4**************************************************/
section .khabar00{
    background-color: white;

}
section .khabar01{
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    padding-top: 100px;

}

section .khabar02{
    width: 150px;
    padding-top:20px ;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: -30px;
    color: orangered;
    font-size: 20px;
    font-family: sans;

}
section .khabar03{
    width: 100%;

    
}

 section .khabar04{
     width: 48%;
     height:427px;
     background-color: yellow;
     position: absolute;

     font-family: sans;
     font-size: 18px;
     color: white;
     top:2371px;
     background: linear-gradient(180deg,rgba(0,0,0,0) 0%, rgba(255, 255, 255,0) 0%,#080808 95%);
     padding-top:350px;
     padding-right: 30px;
     -webkit-box-shadow: -1px -1px 31px 3px rgba(0,0,0,0.75);
     -moz-box-shadow: -1px -1px 31px 3px rgba(0,0,0,0.75);
     box-shadow: -1px -1px 31px 3px rgba(0,0,0,0.75);

}
 section  .khabar04 p{
     font-size: 14px;
     line-height: 40px;
 }
    section  .khabar04 span{
    font-family: BYekan;
        font-size: 12px;
}
section .khabar05 {
float: right;
    margin-right: 20px;
    margin-bottom: 5px;


}
section .khabar06{

    font-family: sans;
    line-height: 25px;
float: right;
    height: 82px;
    background-color:white;
    margin-bottom: 5px;


}


/**************************************************\section4**************************************************/
/**************************************************section5 safarname**************************************************/

section.safar00{
    background-color: white;

}
section .safar01{
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    padding-top: 500px;

}

section  .safar02{
    width: 150px;
    padding-top:20px ;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: -33px;
    color: orangered;
    font-size: 20px;
    font-family: sans;

}




/**************************************************article section5**************************************************/
.toorboxnew{
    margin-right:35px;

}

.downboxnew{
    position: absolute;
    top:170px;
    font-family: sans;
    font-size: 13px;
    background: white;
    padding-bottom: 30px;
    width: 100%;

}
.downbox01new{
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: sans;
    color: white;
    font-size: 10px;
    margin-left: 0px;
}
.downbox02new{
    position: absolute;
    top:202px;
    font-family: sans;
    font-size: 13px;
    background: white;
    padding-bottom: 1px;
    width: 100%;
    text-align: center;
    line-height: 70px;
    -webkit-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
}



article .downbox01new .tooltipnew {
    position: absolute;
    display: inline-block;
    font-family: sans;
    opacity: 1;
    font-size: 14px;
    right: -7px;


}

.tooltipnew .tooltiptextnew {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity:0;
    transition: opacity 0.3s;
    font-family: sans;
}

.tooltipnew .tooltiptextnew::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipnew:hover .tooltiptextnew {
    visibility: visible;
    opacity: 1;
}






article .downbox01new .tooltip01new {
    position: absolute;
    display: inline-block;
    font-family: sans;
    opacity: 1;
    left:-20px;
    font-size: 14px;
    z-index: 2;


}

.tooltip01new .tooltiptext01new {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity:0;
    transition: opacity 0.3s;
    font-family: sans;

}

.tooltip01new .tooltiptext01new::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;

}

.tooltip01new:hover .tooltiptext01new {
    visibility: visible;
    opacity: 1;
}
article .circlenew01{
    border:solid 1px black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: white;
    color:black ;
    position: absolute;
    left: 45px;
    top:138px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-color: transparent;
    font-size: 14px;
    line-height: 12px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    z-index: 2;

background:url("../images/safar01.jpeg" );
    background-position: center;
    background-size: cover;

}
.downbox02new{
    position: absolute;
    top:170px;
    font-family: sans;
    font-size: 13px;
    background: white;
    padding-bottom:25px;
    width: 100%;

    text-align: center;
    line-height: 70px;
    -webkit-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
}
.border01new{
    border-bottom: 1px solid black;

}
article .gheimatnew{
    font-weight: bold;
    color: limegreen;
    margin-left: 5px;
}
article .frame01{
   border-bottom: 1px solid gainsboro;
   border-top: 1px solid gainsboro;
   border-left: 1px solid gainsboro;
   border-right: 1px solid gainsboro;
    margin-left: 10px;
    margin-right: 10px;
}
article .downbox02new a{
    color: black;
    text-decoration: none;
}

article .bekhanid{
    width: 100px;
    height: 30px;
    background-color: rgba(233,74,53,0.8);
    position: absolute;
    top:170px;
    left: 50px;
    font-family: sans;
    text-align: center;
    padding-top: 5px;
    color: white;
}

/**************************************************\article2 section5**************************************************/
/************************************************** section6**************************************************/
footer .video01{
    width: 100%;
    margin-top: 300px;
    background-color: #676f7a;
}

/*footer .video02{*/
    /*float:right ;*/
    /*width: 400px;*/
    /*background-color:#46505d ;*/

/*}*/

footer .asidevideo01{
   float: right;
    background-color: #3f4a58;
    padding-left:150px;
    margin-top: 20px;
   padding-right: -2px;

}
footer .asidevideo02{
    width: 100%;
    float: right;
    margin-right:100px;
    position: absolute;
    margin-top: 150px;
}

footer .asidevideo03{
    width: 100%;
    float: right;
    margin-right:100px;
    position: absolute;
    margin-top: 150px;
}
footer .aside{

    background-color: #419641;
    padding-bottom: 600px;
    padding-left:340px ;
    padding-right: 15px;
    margin-top: 40px;




}

footer .ex3 {
    background-color: #46505d;
    width: 150px;
    height: 80px;
    overflow: auto;
    float: right;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    margin-bottom: 20px;

}
footer .row{
    margin-right: -150px;
}
footer .aside01{
    position: absolute;
    top:90px;
    right: 200px;
    font-family: sans;
    color: white;
    font-size: 12px;
}
footer .aside02{
    position: absolute;
    top:140px;
    right: 200px;
    font-family: sans;
    color: white;
    font-size: 10px;
}

footer .aside03{
    position: absolute;
    top:230px;
    right: 200px;
    font-family: sans;
    color: white;
    font-size: 12px;
}
footer .aside04{
    position: absolute;
    top:283px;
    right: 200px;
    font-family: sans;
    color: white;
    font-size: 10px;
}


footer .aside05{
    position: absolute;
    top:360px;
    right: 200px;
    font-family: sans;
    color: white;
    font-size: 12px;
}
footer .aside06{
    position: absolute;
    top:400px;
    right: 200px;
    font-family: sans;
    color: white;
    font-size: 10px;
}



footer .aside07{
    position: absolute;
    top:500px;
    right: 200px;
    font-family: sans;
    color: white;
    font-size: 12px;
}
footer .aside08{
    position: absolute;
    top:560px;
    right: 200px;
    font-family: sans;
    color: white;
    font-size: 10px;
}

footer .upapp01{
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    padding-top:100px;
}

footer .upapp02{
    width: 150px;
    padding-top:20px ;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: -30px;
    color: orangered;
    font-size: 20px;
    font-family: sans;

}
footer .app01{
width: 150px;
height: 50px;
    padding-top: 7px;
background-color: white;
font-family: sans;
    font-size: 14px;
    border: solid 1px lightgrey;
    color:red;
    -webkit-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
}

footer .app02{
    width: 150px;
    height: 50px;
    padding-top: 7px;
    background-color: white;
    font-family: sans;
    font-size: 14px;
    border: solid 1px lightgrey;
    color:red;
    -webkit-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
}

footer .app03{
    width: 150px;
    height: 50px;
    padding-top: 7px;
    background-color: white;
    font-family: sans;
    font-size: 14px;
    border: solid 1px lightgrey;
    color:red;
    -webkit-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
}



footer .app04{
    width: 150px;
    height: 50px;
    padding-top: 7px;
    background-color: white;
    font-family: sans;
    font-size: 14px;
    border: solid 1px lightgrey;
    color:red;
    -webkit-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 36px -6px rgba(0,0,0,0.15);
}

footer  a:hover{
    text-decoration: none;
    -webkit-box-shadow: 0px 40px 66px -6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 60px 66px -6px rgba(0,0,0,0.15);
    box-shadow: 0px 40px 66px -6px rgba(0,0,0,0.15);
}






footer .down01 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;

}
