@import "reset.css";
@font-face {
    font-family: "sans";
    src:url(../fonts/IRANSansLight.eot) ,
    url(../fonts/IRANSansLight.eot?#iefix) format("embedded-opentype"),
    url(../fonts/IRANSansLight.woff) format("woff"),
    url(../fonts/IRANSansLight.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
  }
@media (min-width: 922px) {
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
   .container{
       width: 1170px;
   }
}
body{
    direction: rtl;
    font-family: sans, Tahoma;

}
a{
    color: white;
    text-decoration: none;
}
/**************************************************Header**************************************************/
header ul{

}
header ul li{
display: inline;
}
header  img{
    float: right;
    margin-top: -13px;
}
 header  ul li h4 {
     float: right;
     color: orangered;
     font-family: sans,IRANSansLight;
     font-weight: 300;
     line-height: 20px;
     font-size: 1.2em;
     margin-top: -3px;
     margin-right: 9px;

 }
  .i01{
     position: absolute;
     color: white;
     font-size:12px;
     top: 27px;
     left: 82px;

 }
  .i02{
     float: left;
     margin-left: 14px;
     font-size:12px;
     margin-top:-1px;
     color: black;
 }
 .box00{
     background-color: white;
     padding:30px;
 }
.box01{
    width: 70px;
    padding-top: 10px;
   padding-bottom: 10px;
    background-color: rgba(233,74,53,0.8);
    float: left;
    color: white;
    margin-top: -13px;
    padding-top: 7px;
    font-family: sans;
    text-align: center;
    font-size: 15px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);

}
.box02{
    font-family: sans;
    float: left;
    margin-left: 25px;
    font-size: 14px;
    margin-top: -1px;
    color: black;

}
.box03{
    background-color: rgba(233,74,53,0.8);
    width: 100%;
    padding-top:12px;
    padding-bottom: 12px;
    font-family: sans;
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-kerning: auto;
    -webkit-box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);


}
.box04{
    padding-top: 19px;
    padding-bottom: 15px;
    padding-left:7px;
    padding-right:7px ;
    position: absolute ;
    background-color:rgba(0,198,80,0.7) ;
top:61px;
    left:20px;
}
.box03 li{
    margin-left: 12px;
    margin-right:9px ;
}
.box03 li span{
    margin-left: 5px;
    font-size: 20px;
}

.li01{
    float: left;
}
.li02:hover{
    background-color: rgba(255,255,255,0.2);
    padding-top: 14px;
    padding-bottom: 10px;
}
.li01:hover{
    background-color:rgba(0,198,80,1) ;
    padding-top: 19px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right:7px ;
}

/**************************************************\Header**************************************************/


/**************************************************Nav**************************************************/
nav img{
    width: 100%;
border-bottom:solid white 1px ;
    -webkit-box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 40px -8px rgba(0,0,0,0.75);


}

.nav00 {
    position: absolute;
    top:107px;
    right: 248px;
    width: 346px;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    padding-right: 80px;
    font-family: sans;
}
.nav02 {
    position: absolute;
    top:107px;
    right: 676px;
    width: 346px;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    padding-right: 80px;
padding-left: 50px;
    font-family: sans;
}
.nav01{
    position: absolute;
    top:127px;
    right: 258px;
    color: orangered;
}
.nav03{
    position: absolute;
    top:127px;
    right: 700px;
    color: orangered;
}
.nav04{
    position: absolute;
    top:127px;
    right: 1118px;
    color: black;
    font-size: 20px;
}
.nav05{
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    padding-top: 60px;
}

.nav06{
    width: 150px;
    padding-top:20px ;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: -30px;
    color: orangered;
    font-size: 20px;

}
/**************************************************\Nav**************************************************/